/******************************
  PopUI
  Designed and developed by Austin of AwfulMedia.com
  Please read the supplied license before using these files
  Date: 9/22/2012
  Author URI: http://www.awfulmedia.com
  URI: http://www.awfulmedia.com/pop  
  Site: AwfulMedia.com            
******************************/
body {
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
    font-size: 14px;
    font-family: tahoma;
}

ul,
li,
a,
img,
header,
nav,
html,
article,
div {
  list-style: none;
  border: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #737373;
  text-align: center;
  font-weight: lighter;
  margin: 0;
}

.green.btn {
  background: #A6D66B;  
  box-shadow: 0 1px 1px #8F8F8F, inset 0 1px 1px rgba(255,250,250,0.5);
  border: 1px solid #72c938;
  color: #fff;
}
.green.btn:hover {
  background: #B1DB7D;
  box-shadow: 0 1px 1px #8F8F8F, inset 0 1px 1px rgba(255,250,250,0.5);
}
.green.btn:active {
  background: #89C73E;
}

.btn {
  padding: 5px;
  text-align: center;
  color: #878787;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 10px 0 10px 0;
}
/* PopUI ENDS HERE */

header {
    width: 960px;
    margin: auto;
    border-left: 1px solid #B1DB7D;
    border-right: 1px solid #B1DB7D;
    margin-bottom: 0;
}

.logo {
    text-align: center;
}

nav {
    text-align: center;
}

section {
    width: 960px;
    /*min-height: 160px;*/
    margin: auto;
    padding-bottom: 10px;
    border-left: 1px solid #B1DB7D;
    border-right: 1px solid #B1DB7D;
    overflow: hidden;
}

/* Index Page Elements */
.artist {
    width: 100px;
    margin: 8px;
    border: 2px #B1DB7D solid;
    border-radius: 5px;
    float: right;
}

.artistName {
    text-align: center;
}

/* Artist Page Elements */
.artistProfile {
    width: 900px;
    margin: 30px;
    border: 2px #B1DB7D solid;
    border-radius: 5px;
    float: right;
}

.artistProfile img {
    float: right;
}

.artistProfileText {
    padding: 10px;
    float: right;
    line-height: 1.6em;
}

footer {
    width: 960px;
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
    border-left: 1px solid #B1DB7D;
    border-right: 1px solid #B1DB7D;
    border-bottom: 1px solid #B1DB7D;
}

/* Links */
a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

a:visited {
    color: white;
}